@import '@/assets/variables.scss';

.removed-scroll {
    overflow: hidden;
}

.main__my-projects {
    margin-bottom: 35px;
}

.my-projects__container {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-projects__card-list {
    margin-bottom: 45px;
}

.card-list__item {
    display: flex;
    flex-direction: column;
    padding: 313px 50px 50px 50px;
    width: 32%;
    border: #CACACA 1px solid;
}

.card-list__item_show-card:nth-child(n + 4) {
    display: none;
}

.card-list__item_mrb {
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {

    .card-list__item {
        width: 48%;
    }

    .card-list__item_show-card:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 678px) {
    .card-list {
        position: relative;
        width: 100%;
        flex-wrap: nowrap;
    }

    .card-list__item {
        display: flex;
        flex-shrink: 0;
        width: 100%;
    }

    .card-list__item:last-child {
        display: flex;
    }

    .show-more {
        display: none;
    }

    .card-list__item_mr-right {
        margin-right: 20px;
    }

    .card-list__item_show-card:nth-child(3) {
        display: flex;
    }

    .card-list__item_show-card:nth-child(n + 4) {
        display: flex;
    }
}

.card-list__technology {
    margin-left: auto;
    font-size: 12px;
    color: $light-text-color;
}

.card-list__subtitle {
    font-size: 24px;
    margin-bottom: 36px;
}

.card-list__descr {
    margin-bottom: 35px;
}

.card-list__link {
    margin-top: auto;
    align-self: center;
    color: $purple-color;
    border-bottom: 1px solid $purple-color;
}

.show-more {
    padding: 17px 35px;
    border: 2px solid $purple-color;
    border-radius: 30px;
    color: $purple-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.pagination {
    display: none;
    align-self: center;
}

@media screen and (max-width: 678px) {
    .pagination {
        display: flex;
    }
}

.bullet {
    height: 15px;
    width: 15px;
    align-self: center;
    background-color: #CACACA;
    border-radius: 50px;
    transition: all 0.5s;
}

.selected-bullet {
    height: 13px;
    width: 13px;
    background-color: #999999;
}

.pagination__bullet:not(:last-child) {
    margin-right: 20px;
}

.my-projects__show-more {
    align-self: center;
    width: fit-content;
}
